<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>Отчет по поставщикам</title>
</head>
<body>
<h1>Поставщики с активным договором</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    <tr th:each="provider : ${activeProviders}">
        <td th:text="${provider.name}"></td>
        <td th:text="${provider.surname}"></td>
    </tr>
</table>

<h1>Поставщики с неактивным договором</h1>
<table border="1">
    <tr>
        <th>Name</th>
        <th>Surname</th>
    </tr>
    <tr th:each="provider : ${inactiveProviders}">
        <td th:text="${provider.name}"></td>
        <td th:text="${provider.surname}"></td>
    </tr>
</table>
</body>
</html>
